.bestelling{
    height:400px;
    border: 1px solid #DCDCDC;
    padding:2%;
    background-color: white;
    border-radius:1%;
    -webkit-box-shadow: 3px 3px 20px -2px rgba(0,0,0,0.27);
    -moz-box-shadow: 3px 3px 20px -2px rgba(0,0,0,0.27);
    box-shadow: 3px 3px 20px -2px rgba(0,0,0,0.27);
}
.bestellingprod{
    float:left;
    position: absolute;
}
.besteldatum{
    float:left;
    /*position: absolute;*/
}
.besteltotprijs{
    float:right;
    text-align: right;
    right:0;
}
.bestellingmade{
    height: 12%;
    width:9%;
    position: relative;
    top: 42%;
    left: 85%;
}
.bestellingdone{
    height: 12%;
    width:10%;
    position: relative;
    top: 42%;
    left: 85%;
}
.factuur{
    height: 12%;
    width:9%;
    position: relative;
    top: 25%;
    left: 85%;
    display: grid;
}
