.form-div{
  background-color: 	#F8F8F8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper{
  height: 95vh;
  width: 100vw;
  margin: 0;
}

.img-div{
  height: 100%;
  width: 100%;
  background-image: url(../../model/img/banner/login.jpg);
  object-fit: cover;
}
